<mat-card class="home mat-elevation-z3">
    <mat-card-title>Bem-Vindo!</mat-card-title>
    <mat-card-subtitle>
        Sistema para exemplificar a construção de uma aplicação de cadastro em Angular. 
        <div></div>
        <br>Este sistema é capaz de:
        <ul>
            <li>Visulizar a lista de produtos cadastrados</li>
            <li>Criar novos produtos</li>
            <li>Editar produtos existentes</li>
            <li>Deletar produtos da lista</li>
        </ul>
    </mat-card-subtitle>
    <mat-divider></mat-divider>
    <h1>Visulizar produtos</h1>
    <ol>
        <li>Clique na aba Produtos da barra lateral</li>
        <li>Agora você pode ver uma lista com todo os produtos</li>
    </ol>
    <mat-divider></mat-divider>
    <h1>Criar novos produtos</h1>
    <ol>
        <li>Clique na aba Produtos da barra lateral</li>
        <li>Clique no botão de "Novo Produto"</li>
        <li>Preencha as informações do produto que deseja criar</li>
        <li>Clique no botão "Salvar"</li>
    </ol>
    <mat-divider></mat-divider>
    <h1>Editar produtos existentes</h1>
    <ol>
        <li>Clique na aba Produtos da barra lateral</li>
        <li>Clique no ícone do lápis correspondente ao produto que deseja editar</li>
        <li>Altere as informações do produto</li>
        <li>Clique no botão "Alterar"</li>
    </ol>
    <mat-divider></mat-divider>
    <h1>Excluir produtos da lista</h1>
    <ol>
        <li>Clique na aba Produtos da barra lateral</li>
        <li>Clique no ícone da lixeira correspondente ao produto que deseja editar</li>
        <li>Clique no botão "Excluir"</li>
    </ol>

</mat-card>